.catalog {
	background-color: #E3E3E3;
	height: 100vh;
	}

.title{
	font-family: Helvetica;
	font-size: 50px;
	line-height : 30px;
	margin-left: 2.5vh;
}

.boldT{
  font-family : HelveticaNeueCyr;
  font-weight : bold;
  font-size : 48px;
  color : #000000;
  margin-left: 2.5vh;
}

.thinT{
  font-family : HelveticaNeueCyr;
  font-size : 23px;
  color : #000000;
  margin-left: 2.5vh;
}

.subtitle {
  font-family : Misto Regular;
  font-size : 14vh;
  color : #FF5035;
  margin-left:5vh;
  }

#f, #s, #t, #fo{
  font-family : HelveticaNeueCyr;
  font-size : 25px;
  line-height : 36px;
  color : #000000;
  position: absolute;
  top: 22vh;
  opacity:1;
  }

#fbar, #sbar, #tbar, #fobar {
	width: 35vh;
	height: auto;
	position: absolute;
	top: 35vh;
	transform: translateY(-12vh);
	transition: all 1s;	
	}
#fbar, #sbar, #tbar, #fobar:hover {
	opacity: 1;
}

#f, #fbar{
	left: 5vh;
}

#s, #sbar{
	left: 42.5vh;
}

#t, #tbar {
	left: 80vh;
	
}
#fo, #fobar {
	left: 117.5vh;
	
}