body {
	margin: 0;
	background: black;
	height: 100vh;
	cursor: url('../icons/star6.png') 48 48,auto;
	overflow: hidden;
}

::selection {
	background:black;
	color:#00FF00;	
}

canvas {
	width:100%;
	height: 100%;
	position: absolute;
	z-index: 0;
	display:block;
	image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
}

#mountain, #mask, #star {
	position: absolute;
}


#mountain{
	width: 91.3%;
	height: auto;
	margin-left: -1vw;
	top: 0vh;
}

#mask{
	width: 23%;
	height: auto;
	top: 60vh;
	left: 7vw;
	opacity: 0;
	transition: opacity 10s;
}

#star{
	width: 17%;
	height: auto;
	left: 75vw;
	opacity: 0;
	transition: all 10s;
	animation: 200s linear infinite fade;
	position: absolute;
}

@keyframes fade {
	0%   {transform: rotate(0deg);}
	100%   {transform: rotate(360deg);}
  }

@font-face {
	font-family: SpratThin;
	src: url("fonts/SpratThin.woff2") format("woff2");
}

@font-face {
	font-family: Burtinomatic;
	src: url("fonts/burtinomatic-webfont.woff2") format("woff2");
}

@font-face {
	font-family: Sinistre;
	src: url("fonts/Sinistre.woff") format("woff");
}

@font-face {
	font-family: Testing;
	src: url("fonts/SpratWarped.woff") format("woff");
}

.title {
	font-family: 'Testing';
	font-weight: thin;
	font-size: 5vw;
	z-index: 10;
	color: #00FF00;
	position: absolute;
	left: 1vw;
	filter: drop-shadow(0 0 3px #00FF00);
	text-align: center;
	width: 100%;
}

/* #star, #mask, #mountain{
	filter: drop-shadow(0 0px 50px #00FF00);
} */

#panel {
	font-family: 'Sinistre';
	font-size: 2vw;
	z-index: 12;
	color: #00FF00;
	position: absolute;
	display: flex;
	text-align: right;
	width: 18%;
	border: 1px solid #00FF00;
	filter: drop-shadow(0 0 5px #00FF00);
	top: 5vh;
	align-items: center;
	justify-content: center;
	left: 80vw;
	user-select: none; 
}


#button1:hover, #button2:hover, #button3:hover{
	color: #ff0000;
}

#infobar {
	cursor: grab;
	font-family: 'Inconsolata';
	font-size: 12px;
	z-index: 12;
	color: #00FF00;
	position: absolute;
	box-sizing: border-box;
	text-align: left;
	width: 300px;
	height: 100px;
	display: flex;
	filter: drop-shadow(0 0 5px #00FF00);
	top: 5vh;
	align-items: center;
	justify-content: center;
	left: 10vw;
	user-select: none;
	border: 1px solid #00FF00;
}

.resizer{
	position: absolute;
	width: 10px;
	height: 10px;
	z-index: 5;
	cursor: grabbing;
}

.resizer.lt{
	top: -1px;
	left: -1px;
}

.resizer.rt{
	top: -1px;
	right: -1px;
}

.resizer.bl{
	bottom: -1px;
	left: -1px;
}

.resizer.br{
	bottom: -1px;
	right: -1px;
}

#input {
	left: 14vw;
	z-index: 15;
	position: absolute;
	top: 18vh;
	align-items: center;
	justify-content: center;
	display: block;
}

#inputform {
	position: absolute;
	width: 5vh;
	height: 2vh;
	z-index: 15;
	color: #00FF00;
	background: transparent;
	border: 1px solid #00FF00;
	filter: drop-shadow(0 0 5px #00FF00);
	font-family: 'Inconsolata';
	text-align: center;
	box-sizing: border-box;
	font-size: 1em;
	margin-left: 5px;
}

.inptitle {
	color: #00FF00;
	font-family: 'sinistre';
	font-size: 1em;
}

#inputform:focus{
	outline: none;
	border: 1px solid #00FF00;
}

/* @keyframes moveAurora{
	0% {
		transform: translateX(-250px) translateY(0px);
	}
	
	50%{
		width: 5vh;
		filter: blur(7px) invert(70%);
	}
	
	100% {
		transform: translateX(400px) translateY(50px) rotate(360deg);
		filter: invert(70%) blur(0px);
		width: 20vh;
	}
} */

.net{
	position: absolute;
	width: 15vw;
	height: auto;

}

#background {
	z-index: 0;
	pointer-events: none;
}

#canvasCursor {
	z-index: 999;
	pointer-events: none;
}