:root {
    --main-bg-color: grey;
    --main-fg-color: lime;
}


@font-face {
	font-family: Warped;
	src: url("fonts/SpratWarped.woff") format("woff");
}
@font-face {
	font-family: Sinistre;
	src: url("fonts/Sinistre.woff") format("woff");
}
@font-face {
	font-family: ApfelGrotezk;
	src: url("fonts/ApfelGrotezk.woff") format("woff");
}
@font-face {
	font-family: WaxMelt;
	src: url("fonts/WaxMelt-Regular.woff") format("woff");
}

html {
    cursor: none;
    overflow: hidden;
}

body {
    /* margin: 0; */
    background-color: var(--main-bg-color);

}


::selection {
    color: white;
    background-color: blue;
    mix-blend-mode: difference;
}

/* YELLOW OR LIME COLORs */

.title {
    font-family: 'WaxMelt';
    background-color: var(--main-fg-color);
    font-size: 1.5rem;
    padding-left: 0.4%;
    padding-right: 0.4%;
    width: 50%;
    border: solid 1px var(--main-fg-color);
}

.info {
    font-family: 'Sinistre';
    color: white;
    border: dashed 1px var(--main-fg-color);
    padding: 0.4%;
    width: 50%;

}

a {
    text-decoration: none;
    color: var(--main-fg-color);
    cursor: none;
}
a:hover {
    color: white;
    filter: blur(0.4px);
    transition: linear 0.2s all;
}

.hl {
    font-family: 'WaxMelt';
    background-color: var(--main-bg-color);
    font-style: italic;
    color: var(--main-fg-color);
    position: relative;
    padding-top: 1vh;
    font-size: 1vw;
    display: flex;
    justify-content: space-between;
    width: 51%
}

.pointer {
    font-size: 2em;
    color: rgb(255, 255, 255);
    width: 20%;
    height: 20%;
    font-family: 'WaxMelt';
    position: absolute;
    pointer-events: none;
    mix-blend-mode: difference;
    text-align: center;
}

.text {
    color: rgb(0, 59, 20);
    font-size: .8em;
    font-family: 'Merchant Copy';
    position: absolute;
    top: 80vh;
    left: 95vw;
    filter: blur(.2px);
}