:root {
    --main-bg-color: grey;
    --main-fg-color: lime;
}


@font-face {
	font-family: Warped;
	src: url("fonts/SpratWarped.woff") format("woff");
}
@font-face {
	font-family: Sinistre;
	src: url("fonts/Sinistre.woff") format("woff");
}
@font-face {
	font-family: ApfelGrotezk;
	src: url("fonts/ApfelGrotezk.woff") format("woff");
}
@font-face {
	font-family: WaxMelt;
	src: url("fonts/WaxMelt-Regular.woff") format("woff");
}

@keyframes borderMove {
    from {filter: drop-shadow(0px 0px 1px var(--main-fg-color));}
    50% {filter: drop-shadow(2px 2px 3px var(--main-fg-color));}
    to {filter: drop-shadow(0px 0px 1px var(--main-fg-color));}
    }

html {
    cursor: none;
    overflow: hidden;
}

body {
    /* margin: 0; */
    background-color: var(--main-bg-color);

}


::selection {
    color: white;
    background-color: blue;
    mix-blend-mode: difference;

}

/* YELLOW OR LIME COLORs */

.title {
    font-family: 'WaxMelt';
    background-color: var(--main-bg-color);
    color:  var(--main-fg-color);;
    font-size: 1.5rem;
    padding: 0.4%;
    /* padding-right: 0.4%; */

    /* width: 50%; */
    box-sizing: border-box;
    /* border: solid 1px var(--main-fg-color); */
}

.info {
    font-family: 'Sinistre';
    color: var(--main-bg-color);
    border: dashed 10px grey;
    padding: 0.4%;
    width: 50%;
}

a {
    text-decoration: none;
    color: var(--main-bg-color);
    cursor: none;
    animation: borderMove 1s infinite linear;

}
a:hover {
    color: lime;
    filter: blur(0.4px);
    transition: linear 0.2s all;

}

.hl {
    font-family: 'WaxMelt';
    background-color: var(--main-bg-color);
    font-style: italic;
    color: var(--main-fg-color);
    position: relative;
    padding-top: 1vh;
    font-size: 1vw;
    display: flex;
    justify-content: space-between;
    width: 51%
}

.pointer {
    font-size: 2em;
    filter: drop-shadow(2px 2px 5px var(--main-bg-color));
    color: grey;
    width: 20%;
    height: 20%;
    font-family: 'WaxMelt';
    position: absolute;
    pointer-events: none;
    mix-blend-mode: difference;
    text-align: center;
}

.text {
    color: rgb(0, 59, 20);
    font-size: .8em;
    font-family: 'Merchant Copy';
    position: absolute;
    top: 80vh;
    left: 95vw;
    filter: blur(.2px);
}


.pointer, .info, a {
    filter: drop-shadow(2px 2px 2px var(--main-fg-color));

}