html{
scroll-behavior: smooth;
}
body{	
	margin: 0px;
	padding: 0px;
	cursor: crosshair;
	-webkit-font-smoothing: antialiased;	
	}
	
::selection {
	background:white;
	color:#FF003C;	
}
	
#Bar{
  position: fixed;
  height: auto;
  width: 90%;
  margin-left:50vh;
  transition: all 2s;
  z-index: 1200; 
  }

#title {
  position: absolute;
  z-index:10;
  font-family:Helvetica;
  font-weight: roman;
  font-size:80px;
  color: black;
  padding-bottom: 100vh;
  text-align:left;
  -webkit-user-select:none;
  z-index:1200;
  }
  

#Sidebar {
  height: 100%;
  width: 0vh;
  position: fixed;
  z-index:1205;
  top: 0;
  left: 0;
  background-color: white; 
  overflow-x: hidden;
  transition: 2s;
  mix-blend-mode: difference;
	}

#list {
	font-family: 'Inconsolata', monospace;
	font-weight:thin;
	color:black; 
	font-size: 25px;
	display: block;
	margin-top: 25vh;
	white-space:nowrap;
	padding-left:1vh;
	opacity:0;
	font-weight:300;
	z-index:1200;
	}
	
	

#Logo{
	z-index:1200;
	position: absolute;
	height:auto;
	width:37vh;
	 -webkit-user-select:none;
	}

#opBtn {
  z-index:1500;
  position:fixed;
  font-family:Inconsolata;
  font-weight:thin;
  font-size:25px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding-left: 2vh;
  margin-top: 45vh;
  border:0px;
  width:12vh;
  display: block;
  font-weight: 400;
  transition: all 2s;
  mix-blend-mode: difference;
  }

  #clBtn {
  z-index:1205;
  position:fixed;
  font-family:Inconsolata;
  font-weight:thin;
  font-size:25px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding-left: 2vh;
  margin-top: 45vh;
  border:0px;
  display: block;
  width:12vh;
  font-weight: 400;
  transition: all 2s;
  opacity:0;
  }


#opBtn:hover {
  background-color: white;
  color: black;
  -webkit-user-select:none;
  filter: blur(2px);
}
#clBtn:hover {
  background-color: white;
  color: black;
  filter: blur(2px);
  -webkit-user-select:none;
}


#Main {
  transition: all 2s;

  }
  #content{
	  position:fixed;
  }

.ld{
	font-size:50px;
	position:fixed;
	z-index: -1;
	font-family: 'Inconsolata';
	font-weight:300;
	
}

#catalog {
	background-color: #E3E3E3;
	height: 100vh;
	padding-top:100vh;
	display:block;
	z-index:1206;
	}

.boldT{
  font-family : HelveticaNeueCyr;
  font-weight : bold;
  font-size : 48px;
  color : #000000;
  margin-left: 5vh;
  margin-top: 100vh;
}

.thinT{
  font-family : HelveticaNeueCyr;
  font-size : 23px;
  color : #000000;
  margin-left: 5vh;
  margin-top: 100vh;
}

.subtitle {
  font-family : Misto Regular;
  font-size : 14vh;
  color : #FF5035;
  margin-left:5vh;
  }

#f, #s, #t, #fo{
  font-family : HelveticaNeueCyr;
  font-size : 2.2vh;
  line-height : 36px;
  color : #000000;
  position: absolute;
  top: 127vh;
  opacity:1;
  }

#fbar, #sbar, #tbar, #fobar {
	width: 35vh;
	height: auto;
	position: absolute;
	top: 140vh;
	transform: translateY(-12vh);
	transition: all 1s;	
	}
#fbar, #sbar, #tbar, #fobar:hover {
	opacity: 1;
}

#f, #fbar{
	left: 5vh;
}

#s, #sbar{
	left: 42.5vh;
}

#t, #tbar {
	left: 80vh;
	
}
#fo, #fobar {
	left: 117.5vh;
	
}

.description {
	position:absolute;
	width:200vh;
	height:100vh;
	background-color:white;
}


.text{
	position: absolute;
	font-family:'Inconsolata';
	margin-top:10vh;
	font-size: 30px;
	margin-right:90vh;
	margin-left:1vh;
	font-weight:light;
	z-index:1204;
	color:black;
}

.empty1, .empty2, .empty3, .empty4{
	width: 35vh;
	height: 59vh;
	position: absolute;
	top: 128vh;
	z-index:1200;
}

.empty1{
	left:5vh;
}
.empty2{
	left:42.5vh;
}
.empty3{
	left:80vh;
}
.empty4{
	left:117.5vh;
}

#Logo:hover{
	filter: invert(100%);
}

.special {
	font-family:Messapia;
	font-weight:bold;
	filter:drop-shadow(0px 1.4px 2px white) drop-shadow(0px 1.4px 10px black);
	transition: all 1s;
	color:white;
	}
.special:hover{
	filter:drop-shadow(0px 1.4px 2px red) drop-shadow(0px 1.4px 10px black);
	transform: scale(-1);
	}
	
#Extrude{
	display:block;
	font-family:Helvetica;
	font-weight:roman;
	font-size:200px;
	position:fixed;
	width:200vh;
	height:200vh;
	background-color:white;
	z-index:10000;
	transition: all 3s;
}

.drop{
	z-index:0;	
	width:12%;
	height:12%;
	position:absolute;
	display:block;
	padding-left:6.2vh;
	padding-top:7.4vh;
	transition: all 1s;
	}

.drop:hover{
	transform: scale(2);
}

.t{
	mix-blend-mode: overlay;
}


.center{
	text-align:center;
	margin-left:25vh;
}

#coordinates{
	position:absolute;
	z-index:100;
	font-family:'inconsolata';
	font-size: 150px;
	margin-left:50vh;
	filter:blur(5px);
	
}