body{
	-webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
	background-color: white;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	}
	
.video_bg{
	height: auto;
	width: 100%;
	}

.title{
	position: absolute;
	left:50vh;
	font-family:Helvetica;
	font-weight:roman;
	font-size:120px;
	color:black;
}