body{	
	background-color: #E13C00;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	}
	
::selection {
	background:black;
	color:#E13C00;	
}
	
#video_bg{
  z-index:0;
  position: fixed;
  height: auto;
  width: 100%;
  transition: all 2s;
  }

#title {
  position: absolute;
  z-index:10;
  font-family:Helvetica;
  font-weight: roman;
  font-size:140px;
  color: black;
  padding-bottom: 100vh;
  margin-left: 40vh;
  -webkit-user-select:none;
  }
  

#Sidebar {
  height: 100%;
  width: 0vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white; 
  overflow-x: hidden;
  transition: 2s
	}

#list {
	font-family: 'Inconsolata', monospace;
	font-weight:thin;
	color:black; 
	font-size: 25px;
	display: block;
	margin-top: 25vh;
	white-space:nowrap;
	padding-left:1vh;
	opacity:0;
	font-weight:300;
	}
	
	

#Logo{
	z-index:5;
	position: absolute;
	height:20%;
	width:auto;
	transition: all 8s;
	opacity: 0;
	white-space:nowrap;
	padding-left:2px;
	}

#opBtn {
  z-index:999;
  position:fixed;
  font-family:Inconsolata;
  font-weight:thin;
  font-size:25px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding-left: 2vh;
  margin-top: 45vh;
  border:0px;
  width:15vh;
  display: block;
  font-weight: 400;
  transition: all 2s;
  }

  #clBtn {
  z-index:900;
  position:absolute;
  font-family:Inconsolata;
  font-weight:thin;
  font-size:25px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding-left: 2vh;
  margin-top: 45vh;
  border:0px;
  display: block;
  width:15vh;
  font-weight: 400;
  transition: all 2s;
  opacity:0;
  }


#opBtn:hover {
  background-color: #E13C00;
  color: black;
  -webkit-user-select:none;
  filter: blur(2px);
}
#clBtn:hover {
  background-color: #E13C00;
  color: black;
  filter: blur(2px);
  -webkit-user-select:none;
}

#Logo:hover {
  filter: drop-shadow(100px);
  -webkit-user-select:none;
}

#Main {
  transition: all 2s;

  }
  #content{
	  position:fixed;
  }

.ld{
	font-size:50px;
	position:fixed;
	z-index: -1;
	font-family: 'Inconsolata';
	font-weight:300;
	
}

