html{
	overflow: hidden;
}

body{
	background-color:white;
	margin: 0vw;
	cursor: none;
}

::selection {
	color:#00FF00;
	background:white;
}

@font-face {
	font-family: Warped;
	src: url("fonts/SpratWarped.woff") format("woff");
}

@font-face {
	font-family: Sinistre;
	src: url("fonts/Sinistre.woff") format("woff");
}

.a{
	font-family: 'Warped';
	font-weight: roman;
	font-size: 10vh;
	color: white;
	position: absolute;
	filter: blur(1px);
	user-select: none;
	z-index: 50;
	position: absolute;
	mix-blend-mode: difference;
}

#c{
	font-family: 'Space Mono', monospace;
	font-weight: thin;
	font-size: 1vw;
	color: black;
	width: 15vw;
	position: fixed;
	text-align: center;
	left: 40vh;
	top: 0px;
	z-index: 10;
	opacity: 0;
	/* mix-blend-mode: multiply; */
	border: 0.07em solid black;
	user-select: none;
}

#c:hover{
	filter: drop-shadow(2px 2px 1px #00FF00);
}

#navpanel {
	color: black;
	font-family: 'Sinistre';
	font-size: 2vw;
	z-index: 12;
	position: fixed;
	display: flex;
	text-align: center;
	width: 21vw;
	height: 7vh;
	border: .03em solid black;
	align-items: center;
	justify-content: center;
	text-align:center;
	left: 40vw;
	background-color: white;
	top: 5vh;
	user-select: none;
	vertical-align: middle;
}

#button1, #button2, #button3 {
	color: black;
}

.bg {
	width: 20vw;
	position: absolute;
	mix-blend-mode: multiply;
	height: auto;
	left: 10vw;
	top: 10vh;
}

#subpanel {
	font-family: 'Sinistre';
	border: .05em solid black;
	color: black;
	background-color: white;
	font-size: 1.5vw;
	width: 8em;
	height: auto;
	left: 25vw;
	top:50vh;
	position: fixed;
	z-index: 20;
	/* opacity: 0; */
	display: none;
}

#photo {
	position: absolute;
	z-index: 0;
	opacity: 0.8;
	filter: blur(0px);
	mix-blend-mode: hard-light;
	width: 15%;
	top: 80%;
	left: 10%;
	display: none;
}


#title {
	font-family: 'Sinistre';
	color: black;
	position: absolute;
	font-size: 20vw;
	left: 10vw;
	z-index: 1;
	top: 5vh;
}

#infopanel {
	font-family: 'Space mono', monospace;
	font-weight: thin;
	font-size: 0.5vw;
	z-index: 12;
	color:black;
	position: absolute;
	width: 25%;
	align-items: center;
	justify-content: center;
	user-select: none;
	top: 90vh;
	left: 0.5vw;
	z-index: 76;
	/* border: .05em solid black; */
	/* filter: blur(2px); */
	mix-blend-mode: hard-light;
	/* filter: drop-shadow(2px 2px 2px #00FF00); */
}


#elm1, #elm2, #elm3, #elm5, #elm4 a:visited {
	color: 	black;
	text-decoration: none;
}

#elm1, #elm2, #elm3, #elm4, #elm5 a:link {
	color: black;
	text-decoration: none;
}

#subtext {
	color: white;
	z-index: 3;
	position: absolute;
	width: 53vw;
	font-family: 'Space Mono', monospace;
	font-weight: light;
	font-size: 2vw;
	top: 30vh;
	left: 5vw;
	/* filter: drop-shadow(1px 1px 0px #5700FF); */
	/* background-color: #FF0D00; */
	background-color: black;
}

#photo1 {
	z-index: 0;
	width: 100%;
	opacity: 0;
	/* transition: all 0.1s linear; */
	position: absolute;
}

#arrow {
	position: absolute;
	top: 82vh;
	left: 46.5vw;
	display: flex;
	text-align: center;
	font-family: 'Sinistre';
	font-size: 8vw;
	color: #00FF00;
	z-index: 5;
	filter: blur(4px);
	/* background-color: black; */
}


#photo1, #photo2, #photo3, #photo4, #photo5, #photo0{
	width: 12%;
	position: absolute;
	display: none;
	transition: 5s all;
	top: 85vh;
	left: 87vw;

}

#subtext1 {
	font-family: 'Space Mono';
	width: 20vw;
	height: 100%;
	position: absolute;
	color:  #00FF00;
	z-index: 10;
	font-size: 1vw;
	left: 85vw;
	top: 95vh;
	/* mix-blend-mode: difference; */
}