body{
background-color:#0017F2;
font-size: 3;
font-family: Helvetica;
overflow-x:hidden;
display:inline-block;
margin:0;
}
	
.a{
	font-family:Helvetica;
	font-weight:bold;
	font-size:50;
}
	
.pr{ 
	color:white;
	position: fixed;
	}
.pr:hover{
}


.img{
	margin: 0px;
	height: 40vh;
	width: 100%;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/M104_ngc4594_sombrero_galaxy_hi-res.jpg/2880px-M104_ngc4594_sombrero_galaxy_hi-res.jpg);
	background-attachment: fixed;
	position: sticky;
	}

	
