html{
	cursor: url('../icons/star6.png') 48 48, auto;
	overflow: hidden;
}

body{
	background-color:white;
	margin: 0vw;

}

::selection {
	color:#00FF00;
	background:white;
}

@font-face {
	font-family: Warped;
	src: url("fonts/SpratWarped.woff") format("woff");
}

@font-face {
	font-family: Sinistre;
	src: url("fonts/Sinistre.woff") format("woff");
}

.a{
	font-family: 'Warped';
	font-weight: roman;
	font-size: 5vh;
	color :black;
	position: absolute;
	top: 9vh;
	transform:rotate(-45deg);
	user-select: none;
}

#c{
	font-family: 'Space Mono', monospace;
	font-weight: thin;
	font-size: 1vw;
	color: black;
	width: 15vw;
	position: fixed;
	text-align: center;
	left: 40vh;
	top: 0px;
	opacity: 0;
	/* mix-blend-mode: multiply; */
	border: .1em solid black;
	user-select: none;
}

#c:hover{
	filter: drop-shadow(2px 2px 1px #00FF00);
}

#panel {
	color: black;
	font-family: 'Sinistre';
	font-size: 2vw;
	z-index: 12;
	position: fixed;
	display: flex;
	text-align: center;
	width: 21vw;
	height: 7vh;
	border: .05em solid black;
	align-items: center;
	justify-content: center;
	text-align:center;
	left: 40vw;
	top: 5vh;
	user-select: none;
	vertical-align: middle;
}

#button1, #button2, #button3 {
	color: black;
}

.bg {
	width: 20vw;
	position: absolute;
	mix-blend-mode: multiply;
	height: auto;
	left: 10vw;
	top: 10vh;
}