body{
	background-color:white;
}

::selection {
	background:black;
	color:#E13C00;	
}


.a{
	font-family:Helvetica;
	font-weight:roman;
	font-size:100px;
	color:black;
}
.b{
	font-family:Inconsolata;
	font-weight:thin;
	font-size:20px;
	color:black; 
}

.c{
	background-color:#E13C00;
	font-family:Inconsolata;
	font-weight:thin;
	font-size:20px;
	color:black; 
	}
	